html{
    font-family: 'sans-serif';
    height: 100%;

}
body{
    background:#d7d3c6;
    height: 100%;
}

h1{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;  
     
    
}

h2{
    text-align: center;
    margin-left: 20px;
}

h3{
    
    margin-left: 20px;
    margin-right: 20px;
}

/* 歌曲框框 */
.ccle {
	margin: 0px auto;
}
.ccle div {
    padding:20px;
	display: inline-block;
	vertical-align: top;
	width: 550px;
	height: 210px;
	border: 5px solid #e2ddcf;
	border-radius: 3px;
	margin: 20px;
    font-size:18.5px;
    line-height: 28px;
    font-weight: lighter; 
    color:#4d3900;
    font-family:monospace;
    text-align: left;
    margin-left: 135px;
    margin-right: -110px;
}
.ccle .brth {
	color: #000;
	line-height: 20px;
    font-size:35px;
    font-family:'san-serif';
    text-align: left;
    margin-top: 20px;
    margin-bottom:20px;
    width: 350px;
	height: 30px;
    display: inline-block;
}
/* .ccle a {
    
} */
.ccle img{
    margin-top: 5px;
    float:right;
    }

/* 功能鍵 */
a{
    text-decoration: none;
    text-decoration-color: black;
    text-align: center;
}


.font-Segoe{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.4em;
    color:black;
   
}

.category1{
    margin-left:288px;
    margin-bottom: 80px;
}

.category2{
    margin-bottom:80px;
    margin-left:88px;
}

.category3{
    margin-bottom: 80px;
    margin-left:88px;
}

.category4{
    margin-bottom:80px;
    margin-left: 88px;
}

.category5{
    margin-bottom:80px;
    margin-left:88px;
}

.category6{
    margin-bottom: 80px;
    margin-left:88px;
}