html{
    font-family: 'sans-serif';
    height: 100%;

}
body{
    background:#d7d3c6;
    height: 100%;
}

h1{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;    
}

h2{
   
    margin-left: 20px;
}

h3{
    margin-left: 20px;
    margin-right: 20px;
}


/* 圖片輪播 */
ul, li {
	margin: 0;
	padding: 0;
	list-style: none;  
}
 
a img {
	border: none;
}
 
#abgne-block-20110406 {
	margin-left: 380px;
	width: 683px;	/* 框架圖片的寬 */
	height: 455px;	/* 框架圖片的高 */
    margin-top: 50px;
    bottom: 90px;
	position: relative;
}
 
#abgne-block-20110406 a.prev, #abgne-block-20110406 a.next {
	position: absolute;
	top: 250px;
	display: block;
	width: 25px;	/* 左右鈕圖片的寬 */
	height: 25px;	/* 左右鈕圖片的高 */
	text-indent: -9999px;
}
 
#abgne-block-20110406 .prev {
	background: url('https://cdn-icons-png.flaticon.com/512/318/318477.png') no-repeat;
    left: -20px;
    background-size: 100%;
}
 
#abgne-block-20110406 .next {
	background: url('https://cdn-icons-png.flaticon.com/512/318/318476.png') no-repeat;
	right: -82px;
    background-size: 100%;
}
 
#abgne-block-20110406 .slides {
	overflow: hidden;
	position: relative;
	top: 32px;
	left: 30px;
	width: 683px;	/* 框架中間區塊的寬 */
	height: 455px;	/* 框架中間區塊的高 */
}
 
#abgne-block-20110406 .slides ul {
	position: absolute;
	width: 9990px;
	height: 100%;
}
 
#abgne-block-20110406 .slides li {
	width: 683px;	/* 框架中間區塊的寬 */
	height: 100%;
	float: left;
}

/* 功能鍵 */
a{
    text-decoration: none;
    text-decoration-color: black;
    text-align: center;
    color:black;
}



.font-Segoe {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: .04em;
    color:black;
   
}

.category1{
    margin-left:582px;
    margin-bottom: 80px;
}

.category2{
    margin-bottom:80px;
    margin-left:85px;
}

.category3{
    margin-bottom: 80px;
    margin-left:60px;
}

/* 歌曲框框 */
.ccle {
	margin: 0px auto;
}
.ccle div {
    padding:20px;
	display: inline-block;
	vertical-align: top;
	width: 550px;
	height: 210px;
	border: 5px solid #e2ddcf;
	border-radius: 3px;
	margin: 20px;
    font-size:18.5px;
    line-height: 28px;
    font-weight: lighter; 
    color:#4d3900;
    font-family:monospace;
    text-align: left;
    margin-left: 135px;
    margin-right: -110px;
}
.ccle .brth {
	color: #000;
	line-height: 20px;
    font-size:35px;
    font-family:'san-serif';
    text-align: left;
    margin-top: 20px;
    margin-bottom:20px;
    width: 350px;
	height: 30px;
    display: inline-block;
}
/* .ccle a {
    
} */
.ccle img{
    margin-top: 5px;
    float:right;
    }
