html{
    font-family: 'sans-serif';
    height: 100%;

}
body{
    background:#d7d3c6;
    height: 100%;
}

h1{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;  
     
    
}

h2{
   
    text-align: center;
    font-size:30px;
}

h3{
    
    margin-left: 20px;
    margin-right: 20px;
}

.border{
    border-style:solid;
    border-width:5px;
    border-color:#e2ddcf;
    margin-left:150px;
    margin-right:150px;
    margin-top:50px;
    
}

a{
 text-decoration: none;
 color: #3D1101;
}

/* 功能鍵 */
.category-bar1{
    margin-left:582px;
    margin-bottom: 80px;
}

.category-bar2{
    margin-bottom:80px;
    margin-left:85px;
}

.category-bar3{
    margin-bottom: 80px;
    margin-left:60px;
}
.ccle {
	margin: 0px auto;
}
.ccle div {
    padding:20px;
	display: inline-block;
	vertical-align: top;
	width: 550px;
	height: 210px;
	border: 5px solid #e2ddcf;
	border-radius: 3px;
	margin: 20px;
    font-size:18.5px;
    line-height: 28px;
    font-weight: lighter; 
    color:#4d3900;
    font-family:monospace;
    text-align: left;
    margin-left: 135px;
    margin-right: -110px;
}
.ccle .brth {
	color: #000;
	line-height: 20px;
    font-size:35px;
    font-family:'san-serif';
    text-align: left;
    margin-top: 20px;
    margin-bottom:20px;
    width: 350px;
	height: 30px;
    display: inline-block;
}
.ccle img{
    margin-top: 5px;
    float:right;
    }




  